
.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #9796f0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transaction-list table {
  width: 100%;
  border-collapse: collapse;
}

.transaction-list th,
.transaction-list td {
  border: 1px solid #ddd;
  padding: 8px;
}

.transaction-list th {
  background-color: #f2f2f2;
  text-align: left;
}

.transaction-list a {
  display: inline-block;
  margin: 10px 0;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
}

.add-transaction form {
  max-width: 400px;
  margin: auto;
}

.add-transaction div {
  margin-bottom: 15px;
}

.add-transaction label {
  display: block;
}

.add-transaction input,
.add-transaction select {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
}
